// Global Colors
$background-color: #f4f4f4;
$primary-color: #1f1f1f;
$secondary-color: #909090;
$highlight-color: #ffa29f;

// Company Colors
$facebook: ‎#4191F7;
$twitter: #77ddf6;
$instagram: #f77737;
$youtube: #bb0000;
$linkedin: #0177b5;
